/*
01 TYPOGRAPHY SYSTEM
- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semibold: 600
Bold: 700

- Line heights:
Default: 1
Paragraph default: 1.5
Small: 1.05
Medium: 1.2
Large: 1.8

- Letter spacing:
-0.5px
0.75px

02 COLORS
 - Brand color / Primary: #9B89A9 (Mystic Heather / Deep Amethyst)
Tints:
#F9F8FA
#F5F3F6

Shades:
Text: #1F1B22
Hover / text: #7C6E87

 - Accent: #647656 (Axolotl)
Tints:
#D1D6CC

Shades:
#505E45

 - Greys:
Simple Average	#9A9A9A
Desaturated	#999999
Weighted Average (Most Common)	#929292
Weighted Average (Luma)	#8F8F8F
Weighted Average (Gamma Adjusted)	#BFBFBF

05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*todo: CSS variables*/
/*:root {*/
/*    --color-primary: #5ec576;*/
/*    --color-secondary: #ffcb03;*/
/*    --color-tertiary: #ff585f;*/
/*    --color-primary-darker: #4bbb7d;*/
/*    --color-secondary-darker: #ffbb00;*/
/*    --color-tertiary-darker: #fd424b;*/
/*    --color-primary-opacity: #5ec5763a;*/
/*    --color-secondary-opacity: #ffcd0331;*/
/*    --color-tertiary-opacity: #ff58602d;*/
/*    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);*/
/*    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);*/
/*}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Questrial", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #1F1B22;
}

/* GENERAL GRID */

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 6.4rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

/* SECTIONS GLOBAL STYLES */
.section-first {
    padding: 15rem 0 9.6rem 0;
}

.section-instagram {
    padding: 9.6rem 0;
}

.section-cta {
    padding: 9.6rem 0;
    width: 100vw;
    overflow-x: hidden;
}

.section-footer {
    padding: 9.6rem 0;
}

/* HEADINGS */

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 500;
    color: #1F1B22;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.heading-primary {
    font-size: 3.6rem;
    line-height: 1.05;
    margin-bottom: 6.4rem;
    color: #505E45;
}

.heading-secondary {
    font-size: 2rem;
    line-height: 1.2;
}

.heading-tertiary {
    font-size: 1.8rem;
    line-height: 1.2;
}

.subheading {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    color: #9B89A9;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
    letter-spacing: 0.75px;
}

.heading-center {
    text-align: center;
}


/* PAGINATION */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 3.2rem;
}

.pagination-dot {
    width: 1rem;
    height: 1rem;
    margin: 0 0.8rem;
    background-color: #9B89A9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-dot.active {
    background-color: #1F1B22
}

/* CARET */

.icon {
    cursor: pointer;
    position: absolute;
    background: transparent none;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    stroke: #1F1B22;
}

.icon:hover {
    color: #9B89A9;
}

.caret--left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.caret--right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
